/* combined-barchart.css */
.combined-bar-chart {
  width: 125vw; /* Set the width to 50% of the viewport width */
  height: 25vh; /* Set the height to 25% of the viewport height */
  display: inline-block;
  margin: 10px;
}

/* Adjust the chart size */
.chart-container {
  width: 125%; /* Increase the width by 25% */
  height: 100%; /* Keep the height at 100% */
  display: flex; /* Use flex display for the container */
  flex-direction: row; /* Align chart and menu horizontally */
}

/* Adjust the chart size */
.chart-container .chart {
  width: 75%; /* Set chart width to 75% of the container */
  height: 100%; /* Keep the height at 100% */
}

.card {
  width: 50vw;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 15px;
  position: relative; 
  background-color: #f9f9f9;
}

.menu-container {
  position: absolute; /* Adjust the positioning */
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.download-menu {
  position: absolute;
  top: 100%; /* Position the menu below the button */
  right: 0; /* Align the menu to the right */
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  white-space: nowrap;
  width: 150px;
}

.download-menu button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

/* Highlight the download option on hover */
.download-menu button:hover {
  background-color: #f1f1f1;
}

/* Add these styles to your CSS file */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffafa;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Adjust the width of the dropdown options to fit in a single line */
.dropdown-content button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  display: block;
  width: 100%;
  white-space: nowrap; /* Prevent line breaks within the text */
  overflow: hidden;
  text-overflow: ellipsis; /* Display ellipsis (...) for text that overflows */
  cursor: pointer;
}

.dropdown-content button:hover {
  overflow: visible;
  white-space: normal;
  text-overflow: unset;
  background-color: #f9f9f9;
}

